LLM_API_KEY=sk-53774f976a84462db7742420ffecb89e
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=game_intel_system
MYSQL_CHARSET=utf8mb4

DEFAULT_SQL_LIMIT=200
DEFAULT_TOP_K=5

EMBEDDING_MODEL_NAME=BAAI/bge-small-zh-v1.5
CHROMA_JOBS_DIR=chroma_jobs
CHROMA_NEWS_DIR=chroma_yxrb
JOB_COLLECTION_NAME=job_embeddings
NEWS_COLLECTION_NAME=game_news_yxrb
